{% extends 'layout.html' %}

<!-- Set the page title -->
{% block pageTitle %}
Routing - Code club - NHSBSA
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" href="/">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
        <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
      </svg>
      Back to start</a>
    </div>

    <!-- You need to include 3 bits of information from this page in your routes function:
      1. The form action is used to call the function
      2. The choice a user can make, in this instance 'Yes' or 'No'
      3. The name from your input so we can see what the user has selected
      4. 
    -->
    
    <form action="/example2/radioroutes" method="post"><!-- 1. action in the <form> tag -->
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            Do you know how to set up JS routing?
          </h1>
        </legend>
        <div class="nhsuk-form-group">
          <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="js-routes-1" name="radio-routes" type="radio" value="Yes"><!-- 3. The name of the input-->
              <label class="nhsuk-label nhsuk-radios__label" for="js-routes-1">
                Yes <!-- 2. The choice a user can make -->
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="js-routes-2" name="radio-routes" type="radio" value="No">
              <label class="nhsuk-label nhsuk-radios__label" for="js-routes-2">
                No
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">Continue</button>
      <!-- When using the JS routes you need a button so that it'll submit the form and trigger the action -->
    </form>
  </div>
</div>
{% endblock %}