{% extends 'layout.html' %}

{% block pageTitle %}
  Routing - Code club - NHSBSA
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Code Club Routing</h1>
      
      <p>In this session we'll look at how to set up the javascript routing in the NHSUK prototype kit.</p>
      
      <p>You need to access the file <code style="background:#fff; color: red; padding:5px;">/app/routes.js</code>.</p>
      
      <p>Before we start adding to it, it should look like this:</p>
      
      <a class="nhsuk-u-display-block nhsuk-u-margin-bottom-5" href="/images/screenshot-01.png">
        <img class="nhsuk-image__img" src="/images/screenshot-01.png" alt="screenshot showing what the routes.js file looks like" style="border:1px solid #d8dde0">
      </a>

      <p><a href="example1/radios" class="nhsuk-button" data-module="nhsuk-button" role="button">Start</a></p>
    </div>
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-m">Examples</h2>
      <ol class="nhsuk-list nhsuk-list--number">
        <li><a href="/example1/radios">Radio buttons - done</a></li>
        <li><a href="/example2/radios">Radio buttons</a></li>
        <li><a href="/example3/name">Text input</a></li>
        <li><a href="/example4/checkbox">Checkboxes</a></li> 
      </ol>
    </div>
  </div>
{% endblock %}
